{extend name="public/base" /}

{block name="body"}
	<div class="main-title">
		<h2>小区服务</h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:url('add')}">新 增</a>
		<button class="btn ajax-post confirm" url="{:url('del')}" target-form="ids">删 除</button>
		<!--<button class="btn list_sort" url="{:url('sort',array('pid'=>input('get.pid',0)),'')}">排序</button>-->
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th>
					<th>标题</th>
					<th>图片</th>
					<th>创建时间</th>
                    <th>更新时间</th>
					<th>作者</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{notempty name="info"}
				{volist name="info" id="v"}
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" id="" value="{$v['id']}"> </td>
						<td>{$v.title}</td>
						<td><img src="{$v['img_path']}" style="height:100px;"></td>
						<td>{$v.create_time}</td>
                        <td>{$v.update_time}</td>
                        <td>{$v.author}</td>
                        <td>{$v.status?'正常':'过期'}</td>
						<td>
							<a title="编辑" href="{:url('add?id='.$v['id'])}">编辑</a>
							<!--<a href="{:url('setStatus?ids='.$channel['id'].'&status='.abs(1-$channel['status']))}" class="ajax-get">{$channel.status|show_status_op}</a>-->
							<a class="confirm ajax-get" title="删除" href="{:url('del?id='.$v['id'])}">删除</a>
							<a class="confirm ajax-get" title="修改状态" href="{:url('status?id='.$v['id'])}">{$v.status?标记为过期:标记为正常}</a>
						</td>
					</tr>
				{/volist}
				{else/}
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				{/notempty}
			</tbody>
		</table>
	</div>
<div class="page">{$pager}</div>
{/block}

{block name="script"}
<script type="text/javascript">
    $(function() {
    	//点击排序
    	$('.list_sort').click(function(){
    		var url = $(this).attr('url');
    		var ids = $('.ids:checked');
    		var param = '';
    		if(ids.length > 0){
    			var str = new Array();
    			ids.each(function(){
    				str.push($(this).val());
    			});
    			param = str.join(',');
    		}

    		if(url != undefined && url != ''){
    			window.location.href = url + '/ids/' + param;
    		}
    	});
    });
</script>
{/block}